*{
    margin: 0;
    padding: 0;
}
body {
        background: url(achtergrond_museum.jpg);
        background-position: top;
        background-size: 110%;
}



.eric {
    border: 2px solid #000;
    width: 287px;
    height: 408px;
    font-size: 10;
    font-family: 'VCR OSD Mono';
    color: black;
    display: inline-block;
    border-image-width: 260px;
    
    

}



.nummer {
  display: inline-block;
    border-bottom: 2px solid #000;
    width: 278px;
    height: 20px;
    color: black;
    align-content: center;
    padding-left: 8px;
    padding-top: 3px;
    background-color: white;

}


.kunstexplosie {
    position: absolute;
    height: 100%;
    width: 100%;
}